@import "tailwindcss";

@theme {
  --color-primary: #5936ba;
  --color-secondary: #da6fee;
  --color-transparent-gray: #0d011a90;
  --color-third: #340065;
  --color-fourth: #e58c8c;
  --color-bgColor: #0d011a;
  --font-family: "Montserrat", sans-serif;
}

@layer base {
  body,
  html {
    @apply bg-bgColor text-white font-family;
  }

  h1 {
    @apply text-3xl font-semibold mb-4;
  }
  h2 {
    @apply text-2xl font-semibold mb-3;
  }
  h3 {
    @apply text-xl font-semibold mb-2;
  }

  button {
    @apply border border-transparent-gray shadow-sm shadow-secondary rounded-full px-4 py-1 disabled:opacity-50 disabled:shadow-gray-700 items-center flex justify-center;
    &:hover {
      @apply border-secondary shadow-lg cursor-pointer transition duration-300 disabled:border-transparent-gray disabled:bg-transparent disabled:shadow-gray-700 disabled:shadow-sm disabled:cursor-auto;
    }
  }
}

/* ? NAVBAR */
.navbar {
  @apply py-5 px-2 sm:px-4 sm:py-5 flex justify-center;
  .container {
    @apply flex justify-center sm:justify-between sm:max-w-7xl;
  }
}

.link,
.iconButton {
  @apply text-white;
  &:hover {
    @apply text-secondary transition duration-300 cursor-pointer;
  }
}

.logoLink {
  @apply h-10 mb-1 rounded-lg;
  &:hover {
    @apply scale-110 transition duration-300;
  }
}

.goBackSection {
  @apply mt-4 mb-2 ml-5 md:ml-20 2xl:ml-40;
  .goBackButton {
    @apply flex items-center gap-1 text-white;
    .buttonIcon {
      @apply text-base;
    }
  }
}

/* ? PAGINATION */
.paginationButton {
  @apply h-7 w-7 mx-1;
}

/* ? SEARCH BAR */
.searchBarContainer {
  @apply m-4;
  .searchBar {
    @apply flex items-center justify-between p-2 w-full gap-2;
    .searchInput {
      @apply w-full h-9 border bg-bgColor border-transparent-gray shadow-sm shadow-white rounded-full px-4;
      &:focus {
        @apply shadow-secondary border-secondary cursor-text transition duration-300 outline-none;
      }
    }

    .searchClearButton {
      @apply absolute right-4 top-3 text-gray-200;
      &:hover {
        @apply text-secondary cursor-pointer transition duration-300;
      }
    }
  }
}
.searchButton {
  @apply h-9 w-9 border border-transparent-gray shadow-sm shadow-secondary rounded-full items-center flex justify-center;
  &:hover {
    @apply border-secondary shadow-lg cursor-pointer transition duration-300;
  }
}

/* ? MOVIE CARD */
.movieCard {
  &:hover {
    @apply shadow-sm shadow-secondary cursor-pointer transition duration-300;
  }
  .action {
    @apply absolute bg-transparent-gray text-white px-2 py-1 rounded flex items-center gap-1;
    &:hover {
      @apply cursor-default;
    }
  }
  .movieTitle {
    @apply text-base font-semibold;
    overflow: hidden;
  }
}

/* ? MOVIE DETAILS PAGE */
.movie-details-page {
  .container {
    @apply relative mx-auto my-5 px-2 lg:px-8 max-w-7xl;
  }

  .backdrop {
    @apply bg-cover bg-center mt-2 h-[80vh] relative rounded-lg shadow-lg;
  }

  .details-overlay {
    @apply absolute w-full h-full flex items-center justify-center bg-black/80 z-8;
  }

  .details {
    @apply absolute top-0 flex sm:w-full flex-col my-auto mx-3 justify-center items-center gap-3 text-white z-10 w-[90vw];
    .overviewInfo {
      @apply relative flex flex-col lg:flex-row gap-5 justify-center items-center max-w-xl lg:max-w-7xl mt-5 my-auto mx-auto;
    }
  }
  /* * POSTER */
  .poster-section {
    @apply relative w-50 sm:w-3/4 sm:min-w-70 sm:max-w-70 md:min-w-100 md:max-w-100;
    .rating-badge {
      .action {
        @apply absolute top-2 left-0 bg-transparent-gray text-white text-lg gap-2 px-2 py-1 rounded flex items-center;
      }
    }
    .poster {
      @apply rounded-lg shadow-lg;
    }
    .showTrailerButton {
      @apply absolute bottom-5 right-5 border border-transparent py-2 px-2 rounded-full flex items-center bg-neutral-900/80;
      &:hover {
        @apply border-secondary;
      }
      .buttonIcon {
        @apply text-3xl text-white;
      }
    }
    .movieTrailerModal {
      @apply fixed inset-0 z-50 flex items-center justify-center bg-black/70;
      .modalContent {
        @apply relative bg-black/80 rounded-lg pt-10 pb-8 px-8 shadow-lg max-w-2xl w-full h-120;
        .video {
          @apply w-full h-full;
        }
        .closeIcon {
          @apply absolute right-2 top-2 text-gray-200;
          &:hover {
            @apply text-secondary cursor-pointer transition duration-300;
          }
        }
      }
    }
  }

  /* * INFO */
  .info {
    @apply flex flex-col py-4 mx-auto;
    .header {
      @apply flex flex-col-reverse xl:flex-row xl:justify-between w-full mb-4;
      .title {
        @apply flex flex-row items-baseline flex-wrap text-3xl sm:text-4xl md:text-6xl font-bold mb-2;
        .year {
          @apply font-normal text-base sm:text-xl md:text-2xl text-gray-400 ml-1;
        }
      }
      .imdbLogoContainer {
        @apply flex mb-2;
        .imdbLogo {
          @apply h-7;
        }
      }
    }
    .subInfo {
      @apply mb-8;
      .genres {
        @apply flex flex-row items-center flex-wrap mb-2;
        .genre {
          @apply mr-2 text-xs text-gray-300 border border-secondary shadow-none px-5 py-0.5 rounded-full;
          &:hover {
            @apply shadow-lg text-white cursor-pointer transition duration-300;
          }
        }
      }
    }
    .overview {
      @apply text-base mb-4;
    }

    .watchProviderSection {
      @apply flex flex-row items-center gap-2;
    }
    .logoIcon {
      @apply h-8;
      &:hover {
        @apply animate-bounce;
      }
    }
  }

  /* * WATCH PROVIDERS */
  .movieProvidersSection {
    @apply flex my-4;
    .availableOnHeader {
      @apply text-gray-300;
    }
    .options {
      @apply flex flex-wrap gap-10 mt-2 justify-center;
    }

    .providerOptionHeader {
      @apply font-semibold text-xl mb-2 text-gray-300 text-center sm:text-left;
    }

    .providersList {
      @apply flex flex-wrap gap-4 mt-2 justify-center;
    }
  }

  /* * CREDITS */
  .creditsSection {
    @apply flex flex-row sm:flex-col my-4 justify-center items-start flex-wrap sm:flex-nowrap sm:justify-start;
    /* * CAST */
    .cast,
    .crew {
      @apply flex flex-col my-4 sm:max-w-xl md:max-w-3xl lg:max-w-7xl md:w-full px-15 sm:px-5 py-4 rounded-lg;
      @apply glassEffect;
      .title {
        @apply text-center;
      }
      .list {
        @apply flex md:flex-nowrap sm:flex-row overflow-x-auto py-2 flex-wrap flex-col sm:gap-4 sm:w-full;
        .member {
          @apply flex flex-col items-center w-35 mb-3;
          .photo {
            @apply w-20 h-30 rounded-lg shadow-lg object-cover;
          }
          .name {
            @apply mt-2 font-semibold text-center;
          }
          .character {
            @apply text-gray-500 text-center;
          }
        }
      }
    }
    .castCharacter {
      @apply text-sm;
    }
    .crewCharacter {
      @apply text-xs uppercase;
    }
  }
}

@utility glassEffect {
  @apply bg-white/5 shadow-lg backdrop-blur-sm border border-secondary/20;
}
